BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_telegram_admin_id_here
DATABASE_PATH=leads.db


GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_CREDENTIALS_FILE=credentials/google-service-account.json